#honolulu {
    background-color: dimgray;
}

section {
    margin: 1em;
}

h1 {
    margin: 1rem;
}

#p-start {
    margin: 1rem;
    font-size: 1.6vw;
    color: #8809a1;
}

#p-end {
    margin: 1rem;
}



#p-peel {
    margin: 1rem;
    font-size: 1.6vw;
    color: #180440 ;
}

#btn-peel {
  color: #ccc ;
  background-color: #8809a1;
}

#p-pad {
  margin: 1rem;
  color: #ccc ;
  font-size: 1.9vw;
}

#btn-pad {
  color: #ccc ;
  background-color: #180440;
  font-size: 2vw;
}

#title-hial {
  font-size: 3.8vw;
}

#p-hial {
  color: #ccc;
  margin-right: 1em;
  font-size: 1.9vw;
}

#btn-hial {
  font-size: 2.1vw;
  color: #ccc ;
  background-color: #8809a1;
}

/*
    Estilos del Formulario
*/

#p-tit-form {
    color: rgb(7, 156, 194);
    font-size: xx-large;
}

#form-section {
    background-color: #bdc3c7;
    padding: 1rem;
}

#footer {
    background-color: #272829;
    color: azure;
}

#nav-it {
    color: #096ea1;
}

#nav-it:hover {
    color: #8809a1;
}

.col {
    padding-top: 2px;
}

#m2:hover {
    color: red;
}

#m2 {
    color: blue;
}

#h3-peel {
    margin: 1rem;
    color: black;
}

#title-moto {
    color:  #8809a1 ;
}